.mat-form-field {
    opacity: 1 !important;
    visibility: visible !important;
  }
  :host{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }

  input::placeholder{
    color:indigo;
  }